{% extends "todo/base.html" %}
{% block page_heading %}{% endblock %}
{% block title %}Тикеты{% endblock %}

{% block content %}

    <h2>{{ task }}</h2>

    <form action="" method="POST">
        {% csrf_token %}

        {% if task.note %}
            <div class="task_note"><strong>Описание:</strong> {{ task.note|safe|urlize|linebreaks }}</div>
        {% endif %}

        <div id="TaskEdit">
            <h3>Тикет в техподдержку</h3>
            <p>Проблемы с работой системы? <br />
            Используйте эту форму чтобы сообщить о них, и мы поможем Вам. </p>

            {% if form.errors %}

                {% for error in form.errors %}
                    <ul class="errorlist">
                        <li><strong>{{ error|escape }} обязательное поле.</strong></li>
                    </ul>
                {% endfor %}
                <br />

            {% endif %}

            <table>
                <tr>
                    <td>Заголовок:</td>
                    <td>{{ form.title }}</td>
                </tr>

                <tr>
                    <td valign="top">Описание:</td>
                    <td valign="top">{{ form.note }}</td>
                </tr>

                <tr>
                    <td>Приоритет:</td>
                    <td>{{ form.priority }}</td>
                </tr>
            </table>
            <p><input type="submit" class="todo-button" name="add_task" value="Отправить"></p>
        </div>
    </form>
{% endblock %}
