{% extends "todo/base.html" %}

{% block title %}{{ list_title }} задачи{% endblock %}

{% block content %}

    {% if user.is_staff %}
        <h1>Удалить категорию: {{ list.name }} ?</h1>

        <p>Статистика:</p>

         <ul>
            <li>Незавершенных: {{ item_count_undone }} </li>
            <li>Заверщенных: {{ item_count_done }} </li>
            <li><strong>Всего: {{ item_count_total }}</strong> </li>
         </ul>

        <p> ... все они будут <strong>безвозвратно удалены</strong>. Вы уверены что хотите это сделать?</p>

        <form action="" method="post" accept-charset="utf-8">
		    {% csrf_token %}
            <input type="hidden" name="list" value="{{ list.id }}" id="some_name">
            <p><input type="submit" name="delete-confirm" value="Удалить! &rarr;" class="todo-button"> </p>
        </form>

        <a href="{% url 'todo-incomplete_tasks' list.id list_slug %}">Назад к категории: {{ list.name }}</a>

    {% else %}
        <p>Извините, но у вас нет прав на удаление категорий. Пожалуйста, обратитесь к администратору.</p>
    {% endif %}

{% endblock %}
