{% extends "todo/base.html" %}

{% block title %}Категория &laquo;{{ list_title }}&raquo;{% endblock %}

{% block content %}

   <h1>Категории</h1>

   <p>{{ item_count }} задач в {{ list_count }} категориях</p>

   	{% regroup list_list by group as section_list %}

    {% for group in section_list %}
        <h3>{{ group.grouper }}</h3>
        <ul>
            {% for item in group.list %}
   	            <li>
                    <a class="todo" href="{% url 'todo-incomplete_tasks' item.id item.slug %}">
                        {{ item.name }}
                    </a> ({{ item.incomplete_tasks.count }}/{{ item.item_set.count }})</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <p><a href="{% url 'todo-add_list' %}">Создать новую категорию</a></p>

{% endblock %}
