{% extends "todo/base.html" %}

{% block title %}Категория: {{ list.name }}{% endblock %}

{% block content %}
    <script type="text/javascript">
        function order_tasks(data) {
            // The JQuery plugin tableDnD provides a serialize() function which provides the re-ordered
            // data in a list. We pass that list as an object called "data" to a Django view
            // to save the re-ordered data into the database.

            $.post("{% url 'todo-reorder_tasks' %}", data, "json");
            return false;
        };

        $(document).ready(function() {
            // Initialise the task table for drag/drop re-ordering
            $("#tasktable").tableDnD();

            $('#tasktable').tableDnD({
                onDrop: function(table, row) {
                    order_tasks($.tableDnD.serialize());
                }
            });

            // Initially hide the Add Task form
            $('#AddTask').hide();

            // toggle slide to show the Add Task form when link clicked
            $('#slideToggle').click(function(){
                $(this).siblings('#AddTask').slideToggle();
            });
        });
    </script>

    {% if list_slug == "mine" %}
        <h1>Задачи, назначенные на {{ request.user.get_full_name }}</h1>
    {% elif auth_ok %}
       <h1>Задачи в категории &laquo;{{ list.name }}&raquo;</h1>
       <p>Эта категория относится к группе {{ list.group }}</p>
    {% endif %}

    {% if auth_ok %}
        <h2 style="margin-bottom:0;" id="slideToggle" >&rarr; Кликните, чтобы добавить задачу &larr;</h2>
        <form action="{{ request.path }}" method="GET" style="margin: 10px;">
            <input type="text" value="{{ request.GET.q }}" name="q" style="height: 37px;">
            <input type="submit" value="Искать"  class="todo-button btn btn-primary">
        </form>
        <form action="{{ request.path }}" method="POST">
            {% csrf_token %}

            {# Only show task adder if viewing a proper list #}
            {% if list_slug != "mine" %}


                <div id="AddTask">
            	    <table class="nocolor" border="0" cellspacing="5" cellpadding="5">
            	       <tr>
            	           <td>{{ form.title.errors }}</td>
            	           <td>{{ form.due_date.errors }}</td>
            	       </tr>
            	       <tr>
            	           <td><label for="id_title">Задача:</label> {{ form.title }}</td>
                       </tr>
                       <tr>
            	           <td><label for="id_due_date">Дедлайн:</label> {{ form.due_date }}</td>
                       </tr>
                       <tr>
            	           <td><label for="id_assigned_to">Исполнитель:</label> {{ form.assigned_to }}</td>
                       </tr>
                       <tr>
            	           <td><label>Уведомить*:&nbsp;<input type="checkbox" checked="checked" name="notify" value="1" id="notify"></label></td>
             	       </tr>
            	       <tr>
            	           <td><label for="id_note">Заметка:</label>
                                {{ form.note }}
            	               <p class="minor">*Письмо будет отправлено только в том случае, если вы поставили задачу не на самого себя.</p>
            	           </td>
             	       </tr>
            	    </table>

                    <input type="hidden" name="priority" value="999" id="id_priority">
                    <input type="hidden" name="created_by" value="{{ request.user.id }}" id="id_created_by">
                    <input type="hidden" name="list" value="{{ global_list_id }}" id="id_list">
                    <input type="hidden" name="created_date" value="{{ created_date }}" id="id_created_date">
            	    <p><input type="submit" name="add_task" value="Добавить задачу" class="todo-button btn btn-primary"></p>
                </div>
            {% endif %}


            {% if not view_completed %}

            	<h3>Незакрытые задачи :: Перемещайте строки чтобы задать приоритет</h3>

            	<table border="0" class="table" id="tasktable">
                    <tr>
                        <th>Готова</th>
                        <th>Задача</th>
                        <th>Создана</th>
                        <th>Дедлайн</th>
                        <th>Автор</th>
                        <th>Исполнитель</th>
                        <th>Описание</th>
                        <th>Комментарии</th>
                        {% if list_slug == "mine" %}
                            <th>Категория</th>
                        {% endif %}
                        <th>Удалить</th>
                    </tr>
            		{% for task in task_list %}
            	        <tr id="{{ task.id }}">
            	            <td><input type="checkbox" name="mark_done" value="{{ task.id }}" id="mark_done_{{ task.id }}">   </td>
            	            <td><a href="{% url 'todo-task_detail' task.id %}">{{ task.smart_title|truncatewords:20 }}</a></td>
            	            <td>{{ task.created_date|date:"Y-m-d" }}</td>
            	            <td>
            	            {% if task.overdue_status %}<span class="overdue">{% endif %}
            	                {{ task.due_date|date:"Y-m-d" }}
            	            {% if task.overdue_status %}</span>{% endif %}
            	            </td>
            	            <td>{{ task.created_by.get_full_name }}</td>
            	            <td>{% if task.assigned_to %}{{ task.assigned_to.get_full_name }}{% else %}Любой{% endif %}</td>
            	            <td style="text-align:center;">{% if task.note %}&asymp;{% endif %} </td>
            	            <td style="text-align:center;">{% if task.comment_set.all.count != 0 %}{{ task.comment_set.all.count }}{% endif %}</td>
            	            {% if list_slug == "mine" %}
                                <td><a href="{% url 'todo-incomplete_tasks' task.list.id task.list.slug %}">{{ task.list }}</a></td>
                            {% endif %}
            	            <td><input type="checkbox" name="del_task" value="{{ task.id }}" id="del_task_{{ task.id }}">   </td>
                        </tr>
            	    {% endfor %}
            	</table>

                <p><input type="submit" name="mark_tasks_done" value="Применить к выбранным"  class="todo-button btn btn-primary"></p>
                <p><a class="todo" href="{% url 'todo-completed_tasks' global_list_id list_slug %}">Посмотреть выполненные задачи</a></p>

            {% else %}

            	<h3>Выполненные задачи</h3>

            	<table border="0" class="table" id="tasktable">
                    <tr>
                        <th>Открыть</th>
                        <th>Задача</th>
                        <th>Создана</th>
                        <th>Закрыта</th>
                        <th>Описание</th>
                        <th>Комментарии</th>
                        {% if list_slug == "mine" %}
                            <th>Категория</th>
                        {% endif %}
                        <th>Удалить</th>
                    </tr>

            		{% for task in completed_list %}
            	        <tr>
            	            <td><input type="checkbox" name="undo_completed_task" value="{{ task.id }}" id="id_undo_completed_task{{ task.id }}">   </td>
            	            <td><a href="{% url 'todo-task_detail' task.id %}">{{ task.smart_title|truncatewords:20 }}</a></td>
            	            <td>{{ task.created_date|date:"Y-m-d" }}</td>
            	            <td>{{ task.completed_date|date:"Y-m-d" }}</td>
            	            <td style="text-align:center;">{% if task.note %}&asymp;{% endif %} </td>
            	            <td style="text-align:center;">{% if task.comment_set.all.count != 0 %}{{ task.comment_set.all.count }}{% endif %}
            	            <td><input type="checkbox" name="del_tasks" value="{{ task.id }}" id="del_task_{{ task.id }}">   </td>
                        </tr>
            	    {% endfor %}

            	</table>
            	<p><input type="submit" name="deldonetasks" value="Применить к выбранным"  class="todo-button btn btn-primary"></p>
            	</form>
                <p><a class="todo" href="{% url 'todo-incomplete_tasks' global_list_id list_slug %}">Посмотреть невыполненные задачи</a></p>
            {% endif %}

    	{% if user.is_staff %}
        	{% if list_slug != "mine" %}
        	   <p><a class="todo" href="{% url 'todo-del_list' global_list_id list_slug %}">Удалить категорию</a></p>
        	{% endif %}
    	{% endif %}

    {% endif %}
{% endblock %}
